/* all devices */

html {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#root {
  background-color: black;
}

div.container-fluid {
  height: 100vh;
}

li {
  list-style-type: none;
}

div.col {
 padding-left:0;padding-right:0 ! important; 
}

/* Linkedin */
#linkedinAnimation {
  width: 50px;
  height: 50px;
  position: relative;
  float: right;
  top: 5vh;
  z-index: 100;
}

.preferredContact {
  position: relative;
  color: white;
  float: right;
  left: 15vw;
  width: 150%;
  top: 5vh;
}

/* Figma hide */
.row3-col1 {
  display: none;
}

/* Figma */

iframe {
  position: relative;
  left: 20vw;
  z-index: 20; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 600px;
  top: -20vh;

}

/* nav */

nav {
  background-color: navy;
}

.row3-col2.col {
  text-align: center;
}

.row2-col1 {
  text-align: center;
  width: 100vw;
}


.myEmail {
  display: none;
  position: relative;
  top: 5vh;
  right: 10vw;
  color: white;
  float: right;
}

.downloadLink {
  color: yellow;
  position: relative;
  top: -5vh;
  z-index: 100;
}

.myImage {
  height: 30vh;
  position: relative;
  text-align: center;
  float: right;
  top: 5vh;
  left: 30vw;
  z-index: 10;
}

div.progress {
  z-index: 10;
  position: relative;
  margin-left: 5vw;
  width: 100%;
  right: 10vw;

}

.myTitle {
  position: relative;
  background-color: transparent;
  font-size: 25px;
  top: 6vh;
  float: left;
}

.navText {
  text-align: center;
  color: white;
  position: relative;
  top: -5vh;
  width: 100vw;
  font-family: Odibee Sans;
}

div.row6-col1.col {
  text-align: center;
  display: inline-block;
}

.bodyText {
  position: relative;
  z-index: 10;
  top: 10vh;
  width: 70%;
  color: white;
  left: 15vw;
  
}

.row6 {
  position: relative;
  top: -10vh;
}

.App {
  text-align: center;
}

.webLink {
  color: yellow;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img.rounded-circle {
  border: white solid 2px;
  /*opacity: 60%;*/
  height: 150px;
  width: 100px;
  position: relative;
  
}

div.skillsList {
  color:  white;
  position: relative;
  margin-left: 5vw;
}

.otherSkills {
  position: relative;
  left: 20vw;
  color: yellow;
  text-align: center;
}

/* Landscape phones */

@media (min-width: 667px) and (max-device-width: 1023px) and (max-height: 450px) and (orientation: landscape){ 

  .myEmail {
    display: block;
    float: left;
    top: 9vh;
    left: 5vw;
    font-size: 12px;
  }

  .downloadLink {
    top: -30vh;
    float: left;
    right: 10vw;
  }

  #linkedinAnimation {
    top: 30vh;
    left: 40vw;
  }

  .preferredContact {
    left: 61vw;
    top: 30vh;
    color: yellow;
  }

  .skillsList {
    width: 25%;
    top: -60vh;
    font-size: 50%;
    float: right;
  }

  .bodyText {
    position: relative;
    font-size: 10px;
    width: 50%;
    top: -55vh;
    left: 30vw;
  }

  .row3-col1 {
    display: block;
  }

  iframe {
    position: relative;
    top: -25vh;
    left: 5vw;
    z-index: 10;
    width: 50%;
    height: 150%;
  }

  .otherSkills {
    left: 5vw;
    top: -2vh;
  }

  .allProgressBars {
    position: relative;
    right: 35vw;
  }

  .myImage {
    left: 20vw;
  }

  img.rounded-circle {
    width: 25%;
    height: 75%;
  }

}

/*@media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait or orientatioin: landscape) { 

   .myEmail {
    display: block;
    float: left;
    top: 7vh;
    left: 10vw;
    font-size: 100%;
  }

  .downloadLink {
    top: -5vh;
    float: left;
    left: 10vw;
    font-size: 150%;
  }

  #linkedinAnimation {
    top: 30vh;
    left: 45vw;
  }

  .preferredContact {
    left: 65vw;
    top: 30vh;
    color: yellow;
  }

  .skillsList {
    width: 25%;
    top: 0vh;
    font-size: 100%;
    float: right;
    left: 20vw;
  }

  .bodyText {
    position: relative;
    font-size: 12px;
    width: 50%;
    top: 10vh;
    left: 45vw;
  }

  .row3-col1 {
    display: block;
  }

  iframe {
    position: relative;
    top: -25vh;
    left: 5vw;
    z-index: 10;
    width: 75%;
    height: 450%;
  }

  .otherSkills {
    left: 5vw;
    top: 0vh;
    width: 150%;
  }

  .allProgressBars {
    position: relative;
    right: 35vw;
  }

  .myImage {
    left: 25vw;
  }

  img.rounded-circle {
    width: 25%;
    height: 50%;
  }

}*/


/* Portrait ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



  .row3-col1 {
    display: block; 
  }

  li.myEmail {
    display: block;
    position: relative;
    float: left;
    left: 15vw;
    top: 6vh;
    z-index: 100;
    font-size: 20px;
  }

  .downloadLink {
    top: 0;
    float: right;
    right: 10vw;
    font-size: 3vh;
  }

  .myImage {
    left: 20vw;
    top: 5vh;
  }

  #linkedinAnimation {
    left: 25vw;
    top: 5vh;
    height: 50%;
    width: 50%;
  }

  .preferredContact {
    left: 45vw;
    top: 0;
    font-size: 100%;
  }

  .myTitle {
    top: 5.5vh;
    float: left;
    left: 5vw;
    font-size: 2vh;
  }

  div.row3.row {
    position: relative;
    height: 500px;
  }

  .row6-col1 {
    position: relative;
    bottom: 35vh;
  }
  iframe {
    width: 75%;
    height: 100%;
    top: -20vh;
    position: relative;
    left: 5vw;
  }

  .otherSkills {
    font-size: 25px;
    width: 100%;
    position: relative;
    left: 5vw;
  }

  .bodyText {
    position: relative;
    top: 5vh;
    left: 10vw;
    width: 75%;
    font-size: 20px;
  }

  .skillsList {
    width: 75%;
    float: right;
    left: 40vw;
    top: -40vh;
    font-size: 2vh;
  }
  .allProgressBars {
    position: relative;
    width: 50%;
    top: 15px;
    left: -25vw;
    font-size: 2vh;
  }

}  

/* Landscape ipad */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .row3-col1 {
    display: block; 
    position: relative;
    top: -10vh;
    left: -15vw;
  }

  .myTitle {
    right: -10vw;
    font-size: 30px;
    top: 6vh;
  }


  .myEmail {
    display: block;
    top: 7vh;
    float: left;
    left: 15vw;
    font-size: 20px;
  }

  p.bodyText {
    position: relative;
    top: -65vh;
    left: 35vw;
    font-size: 15px;
    width: 50%;
  }

  .downloadLink {
    font-size: 3vh;
    position: relative;
    left: -20vw;
    top: -5vh;
  }

  div.myImage {
    position: relative;
    left: 10vw;
  }

  #linkedinAnimation {
    left: 20vw;
    top: 10vh;
  }

  .preferredContact {
    left: 45vw;
    top: 10vh;
  }

  div.skillsList {
    width: 50%;
    position: relative;
    left: 45vw;
    top: -75vh;
    
  }
  .allProgressBars {
    position: relative;
    right: 30vw;
    width: 50%;
  }

  p.otherSkills {
    width: 150%;
    position: relative;
    left: -5vw;
    font-size: 100%;
  }


}



/* ----------- iPad Pro 12.9" ----------- */
/* Tablet portrait */


@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .row3-col1 {
    display: block; 
  }

  li.myEmail {
    display: block;
    position: relative;
    float: left;
    left: 15vw;
    top: 6vh;
    z-index: 100;
    font-size: 20px;
  }

  .downloadLink {
    top: -10vh;
    float: right;
    right: 20vw;
    font-size: 3vh;
  }

  .myImage {
    left: 10vw;
    top: 2vh;
  }

  #linkedinAnimation {
    left: 25vw;
    top: 2vh;
    height: 50%;
    width: 50%;
  }

  .preferredContact {
    left: 45vw;
    top: -5vh;
    font-size: 100%;
  }

  .myTitle {
    top: 5.5vh;
    float: left;
    left: 5vw;
    font-size: 2vh;
  }

  div.row3.row {
    position: relative;
    height: 500px;
  }

  .row6-col1 {
    position: relative;
    bottom: 35vh;
  }
  iframe {
    width: 75%;
    height: 100%;
    top: -20vh;
    position: relative;
    left: 5vw;
  }

  .otherSkills {
    font-size: 25px;
    width: 100%;
    position: relative;
    left: 5vw;
  }

  .bodyText {
    position: relative;
    top: 10vh;
    left: 20vw;
    width: 50%;
    font-size: 30px;
  }

  .skillsList {
    width: 50%;
    float: right;
    left: 25vw;
    top: -40vh;
    font-size: 2vh;
  }
  .allProgressBars {
    position: relative;
    width: 50%;
    top: 15px;
    left: -25vw;
    font-size: 2vh;
  }

}


/* ----------- iPad Pro 12.9" ----------- */

/* Landscape */


@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .row3-col1 {
    display: block; 
    position: relative;
    top: 10vh;
    left: -5vw;
  }

  p.myTitle {
    right: 50vw;
    font-size: 30px;
    top: 0;
  }


  p.myEmail {
    display: block;
    top: 0;
    left: 5vw;
    font-size: 30px;
  }

  p.bodyText {
    top: 5vh;
    font-size: 30px;
  }

  a.downloadLink {
    font-size: 3vh;
    position: relative;
    left: 5vw;
    top: 0;
  }

  div.myImage {
    position: relative;
    left: 25vw;
  }

  #linkedinAnimation {
    left: 20vw;
    top: 5vh;
  }

  .preferredContact {
    left: 70vw;
    top: 4vh;
  }

  div.skillsList {
    width: 50%;
    position: relative;
    left: 60vw;
    top: -5vh;
    
  }
  .allProgressBars {
    position: relative;
    right: 20vw;
  }

  p.otherSkills {
    width: 150%;
    position: relative;
    left: -10vw;
    font-size: 100%;
  }

}


/* laptop */


@media screen 
  and (min-device-width: 1200px) 
  
  {

    .myTitle {
      right: 65vw;
      font-size: 2vw;
    }

    .myImage {
      left: 30vw;
    }

    .bodyText {
      position: relative;
      top: 0;
      left: 25vw;
      font-size: 150%;
      width: 50%;
    }

    .downloadLink {
      font-size: 3vh;
      left: -15vw;
      top: 0vh;
    }

    img.rounded-circle {
      width: 50%;
      height: 75%;
    }

    .row3-col1 {
      display: block;
    }

    #linkedinAnimation {
      height: 70%;
      width: 70%;
      left: 35vw;
      top: 5vh;
    }
    .preferredContact {
      position: relative;
      top: 0vh;
      left: 50vw;
      font-size: 2vh;
    }

    iframe {
      top: -30vh;
      width: 75%;
      height: 350%;
      left: 10vw;
    }

    .myEmail {
      display: block;
      left: 0;
      top: 0;
      font-size: 2vh;
      
    }

    .skillsList {
      position: relative;
      left: 55vw;
      top: -10vh;
      font-size: 2vh;
    }

    .myTitle {
      position: relative;
      float: right;
    }

    .myEmail {
      top: 7vh;
      left: -15vw;
    }

    .otherSkills {
      position: relative;
      left: -10vw;
      font-size: 3vh;
      width: 75%;
    }

    .allProgressBars {
      position: relative;
      top: 10px;
      width: 30%;
      right: 35vw;
      font-size: 2vh;
    }


}

