/* all devices */

html {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

div.container-fluid {
  height: 100vh;
}

div.col {
 padding-left:0;padding-right:0 ! important; 
}

/* Linkedin */
#linkedinAnimation {
  width: 50px;
  height: 50px;
  position: relative;
  left: 15vw;
}

.preferredContact {
  position: relative;
  float: left;
  left: 5vw;
  color: white;
  width: 150%;
}

/* Figma hide */
.row3-col1 {
  display: none;
}

/* Figma */

iframe {
  position: relative;
  left: 20vw;
  z-index: 20; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 600px;
  top: -20vh;

}

/* nav */

nav {
  width: 100vw;
  background-color: navy;
}

.row3-col2 {
  text-align: center;
}


.myEmail {
  display: none;
  position: relative;
  float: right;
  bottom: 5vh;
  color: white;
}

.downloadLink {
  color: yellow;
  position: relative;
  top: -5vh;
}

.myImage {
  height: 30vh;
  position: relative;
  text-align: center;
  float: right;
  left: 15vw;
  z-index: 10;
}

div.progress {
  z-index: 10;
  position: relative;
  margin-left: 5vw;
  width: 100%;
  right: 10vw;

}

.myTitle {
  position: relative;
  background-color: transparent;
  font-size: 15px;
  float: right;
  right: 20px;
  top: 5px;
}

.navText {
  text-align: center;
  color: white;
  position: relative;
  top: -5vh;
  width: 100vw;
  font-family: Odibee Sans;
}

div.row6-col1.col {
  text-align: center;
  display: inline-block;
}

.bodyText {
  position: relative;
  z-index: 10;
  top: 10vh;
  width: 70%;
  color: white;
  left: 15vw;
  
}

.row6 {
  position: relative;
  top: -10vh;
}

.App {
  text-align: center;
}

.webLink {
  color: yellow;
}

.App-link {
  color: #61dafb;
}

#nav {
  background-color: navy;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img.rounded-circle {
  border: white solid 2px;
  /*opacity: 60%;*/
  height: 150px;
  width: 100px;
  position: relative;
  
}

div.skillsList {
  color:  white;
  position: relative;
  margin-left: 5vw;
}

.otherSkills {
  left: 15vw;
  color: yellow;
}

/* Landscape phones */

@media (min-width: 667px) and (max-width: 850px) and (max-height: 450px) and (orientation: landscape) { 

  a.downloadLink {
    font-size: 15px;
    top: 5vh;
    left: 15vw;
  }

  p.otherSkills {
    position: relative;
    font-size: 12px;
    left: 0;
  }

  .myEmail {
    display: block;
    position: relative;
    left: 10vw;
    top: -5vh;

  }

  p.myTitle {
    top: -6vh;
    right: 40vw;
  }

  div.myImage {
    position: relative;
    top: -10vh;
    left: 30vw;
  }

  #linkedinAnimation {
    top: 45vh;
    left: 60vw;
    float: right;
  }
  .preferredContact {
    top: 50vh;
    left: 80vw;
    
  }

  div.allProgressBars {
    position: relative;
    right: 30vw;
    width: 25%;
  }

  .row3-col1 {
    display: block;
  }

  iframe {
    position: relative;
    top: -40vh;
    left: 10px;
    height: 310px;
  }

  div.skillsList {
    top: -110vh;
    left: 40vw;
  }



}

/* ----------- iPad Pro 12.9" ----------- */
/* Tablet portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .row3-col1 {
    display: block; 
  }

  .myEmail {
    display: block;
    left: 10vw;
    top: 20px;
    font-size: 30px;
  }

  .downloadLink {
    top: 0vh;
    float: left;
    right: 40vw;
    font-size: 3vh;
  }

  #linkedinAnimation {
    left: 25vw;
    top: 2vh;
    height: 50%;
    width: 50%;
  }

  .preferredContact {
    left: 10vw;
    top: 0vh;
    font-size: 3vh;
  }

  .myTitle {
    top: 20px;
    left: -50vw;
    font-size: 2vh;
  }

  div.row3.row {
    position: relative;
    height: 500px;
  }

  .row6-col1 {
    position: relative;
    bottom: 35vh;
  }
  iframe {
    width: 100%;
    height: 100%;
    top: 20vh;
    position: relative;
    left: 5vw;
  }

  .otherSkills {
    font-size: 25px;
    width: 200%;
    position: relative;
    left: 0;
  }

  .bodyText {
    position: relative;
    top: 10vh;
    left: 60vw;
    width: 35%;
    font-size: 30px;
  }

  .skillsList {
    width: 50%;
    float: right;
    left: 25vw;
    top: -50vh;
    font-size: 3vh;
  }
  .allProgressBars {
    position: relative;
    top: 15px;
    left: -25vw;
    font-size: 3.3vh;
  }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .row3-col1 {
    display: block; 
    position: relative;
    top: 10vh;
  }

  p.myTitle {
    right: 50vw;
    font-size: 30px;
    top: 0;
  }

  p.myEmail {
    display: block;
    top: 0;
    left: 5vw;
    font-size: 30px;
  }

  p.bodyText {
    top: -45vh;
    font-size: 30px;
  }

  a.downloadLink {
    font-size: 3vh;
    position: relative;
    left: 5vw;
    top: -5vh;
  }

  div.myImage {
    position: relative;
    left: 25vw;
  }

  #linkedinAnimation {
    left: 20vw;
    top: 5vh;
  }

  .preferredContact {
    left: 70vw;
    top: 4vh;
  }

  div.skillsList {
    width: 50%;
    position: relative;
    left: 50vw;
    top: -55vh;
    
  }
  .allProgressBars {
    position: relative;
    right: 20vw;
  }

  .otherSkills {
    width: 150%;
    position: relative;
    left: 10vw;
  }

}

/* laptop */

@media screen 
  and (min-device-width: 1200px) 
  
  { 


    .myTitle {
      right: 50vw;
      font-size: 2vw;
    }

    .myImage {
      left: 30vw;
      
    }

    .downloadLink {
      font-size: 3vh;
      left: 5vw;
      top: -5vh;
    }

    img.rounded-circle {
      width: 50%;
      height: 75%;
    }

    .row3-col1 {
      display: block;
    }

    #linkedinAnimation {
      height: 70%;
      width: 70%;
      left: 50vw;
      top: 5vh;
    }
    .preferredContact {
      position: relative;
      top: 0vh;
      left: 50vw;
      font-size: 2vh;
    }

    iframe {
      top: -30vh;
      width: 75%;
      left: 5vw;
    }

    .myEmail {
      display: block;
      left: 0;
      top: 0;
      font-size: 2vh;
      
    }

    .skillsList {
      position: relative;
      left: 50vw;
      top: -60vh;
      font-size: 3vh;
    }

    .otherSkills {
      position: relative;
      left: 0;
      font-size: 3vh;
    }

    .allProgressBars {
      position: relative;
      top: 10px;
      width: 50%;
      right: 25vw;
      font-size: 3.2vh;
    }


}

